body { 
  margin: 0;
  padding: 1px;
  font-size: 16px;
}

.passwords { 
  display: flex;
  flex-wrap: wrap;
}

.passwords__password {
  font-family: monospace;
  color: #eee; 
  background: #fff; 
  margin: 1px;
  padding: 3px;
}

.passwords__password::selection { 
  color: #fff; 
  background: #eee;
}
